{% extends "base/base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="container">
<h1> Welcome to Pashe Achi!{{user.email_i}}</h1>
  <h2> Our concern is for your well-being!</h2>
  <h3> Pashe Achi is a web application which is developed and designed to provide benefits through the internet.
  A patient will be able to search for specialist doctors in their area, book and cancel appointments online, and they can also check if the doctor they need is available at that time.
  Moreover, a patient can access his appointment history and share his reports. Via this web application, doctors will be able to view and cancel their appointments. The main aim of our project is to save time and money by selecting doctors and health-related tests at a preferable cost. Our system will make the appointment process more convenient, easier, and secure. The system provides excellent data security at all levels of user activity, as well as accurate and secure storage and backup facilities. </h3> 

</div>
{% endblock body %}
