{% extends "LogInRegister/base.html" %}

{% block title %}View Ratings{% endblock title %}

{% block body %}


<h2 class="text-center alert alert-info">Star Rating of our Doctors.</h2>

<div class="container">
<div class="col-sm-10">
<table style="margin-left:auto;margin-right:auto;" class="table table-hover table-success table-striped table-bordered">
  <thead>
    <tr style="text-align:center">

      <th scope="col">No.</th>
      <th scope="col">Doctor Name</th>
      <th scope="col">Service</th>
      <th scope="col">Behaviour</th>
      <th scope="col">Accurate Diagnosis</th>

    </tr>
  </thead>
  <tbody>
  {% for row, doctorNameList1, serviceRList, behaviourRList, accdRList in ratingDetails %}
   <tr style="text-align:center">

      <th>{{row}}</th>
      <td>{{doctorNameList1}}</td>
      <td>{{serviceRList}}</td>
      <td>{{behaviourRList}}</td>
      <td>{{accdRList}}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock body %}