{% extends "LogInRegister/base.html" %}

{% block title %}Star Ratings Confirmed{% endblock title %}

<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ratings Added Confirmed!</title>
</head>
<body>
    {% block body %}

    <div class="container mt-5">
        <h2 class="text-center alert alert-info">Thanks for rating us {{patientFirstName}} {{patientLastName}}</h2>
        <h5 class="text-center alert alert-info">Check your email for confirmation of Ratings Submission.</h5>
        <h5 class="text-center alert alert-info">Please stay connected with Pashe Achi.</h5>
    </div>

    {% endblock body %}
</body>
</html>